*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainText
{
    font-size: 20px;
    letter-spacing: 0.4rem;
    font-weight: 600;
    color: antiquewhite;
    text-transform: uppercase;
    z-index: 3;
}
